@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}


/*Mobile View*/
@media screen and (max-width:750px){
    body #section1{
        flex-direction: column-reverse;
    }

    body #section1>div:nth-child(2){width: 96vw;}
    body #section1>div:nth-child(1){width:88vw;padding-left: 50px;}
    body #section1>div:nth-child(2) .googleAssetsImg{
        display: block;
        margin:0 auto;
        margin-top:100px;
        margin-bottom: 100px;
        width:80vw;
    }

    body #section1>div:nth-child(1) .googleImg{
        width: 50vw;
    }

    body #section1>div:nth-child(1) .fbAdsImg{
        width:60vw;
    }

    body #section1>div:nth-child(1)>ul{
        font-size: 4vw;
        width:80%;
    }

    body #section1>div:nth-child(1)>span{
        font-size:4vw;
    }
    
}


body{margin:0; padding: 0;}

#section1{
    display: flex;
}

#section1>div:nth-child(1){
    background: #ffa300;
    padding-left: 135px;
}

#section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 18px;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
}


#section1>div:nth-child(1) .googleImg{
    width:242px;  
    margin-top:160px;
    margin-bottom: 48px;
    filter:invert(100%);
}

#section1>div:nth-child(2) .googleAssetsImg{
    width:658px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}