@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}


/*Mobile View*/
@media screen and (max-width:450px){
    body #google-section1{
        grid-template-rows: 40vh auto;
        grid-template-columns: 100vw;
    }

    body #google-section1>div:nth-child(2){grid-row: 1}
    body #google-section1>div:nth-child(1){padding-left: 30px;overflow-y: scroll;}
    body #google-section1>div:nth-child(2) .googleAssetsImg{
        display: block;
        margin:0 auto;
        margin-top:5vh;
        margin-bottom: 5vh;
        width:80vw;
    }

    body #google-section1>div:nth-child(1) .googleImg{
        width: 50vw;
    }

    body #google-section1>div:nth-child(1) .fbAdsImg{
        width:60vw;
    }

    body #google-section1>div:nth-child(1)>ul{
        font-size: 4vw;
        width:80%;
    }

    body #google-section1>div:nth-child(1)>span{
        font-size:4vw;
    }

    
}


body{margin:0; padding: 0;}

#google-section1{
    
    display: grid;
    grid-template-columns: 45vw 55vw;
}

#google-section1>div:nth-child(1){
    background: #ffa300;
    padding-left: 40px;
}

#google-section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 13px;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#google-section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#google-section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 15px;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}


#google-section1>div:nth-child(1) .googleImg{
    width:200px;  
    margin-top:50px;
    margin-bottom: 30px;
    filter:invert(100%);
}

#google-section1>div:nth-child(2) .googleAssetsImg{
    width:45vw;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

#google-section1>div:nth-child(2){
    background-color:white;
}