@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}


/*Mobile View*/
@media screen and (max-width:750px){
    body #insta-section1{
        flex-direction: column-reverse;
    }

    body #insta-section1>div:nth-child(2){width: 100vw;}
    body #insta-section1>div:nth-child(1){width:93vw;padding-left: 30px;}
    body #insta-section1>div:nth-child(2) .instaAssetsImg{
        display: block;
        margin:0 auto;
        margin-top:50px;
        margin-bottom: 50px;
        width:80vw;
    }

    body #insta-section1>div:nth-child(1) .instaAdsImg{
        width:60vw;
    }

    body #insta-section1>div:nth-child(1)>ul{
        font-size: 4vw;
        width:90%;
    }

    body #insta-section1>div:nth-child(2) .instaAssetsImg{
        width:80vw;
    }

    body #insta-section1>div:nth-child(1)>span{
        font-size:4vw;
    }
    
}


body{margin:0; padding: 0;}

#insta-section1{
    display:flex;
}

#insta-section1>div:nth-child(1){
    background: #e90077;
    padding-left: 135px;
    width:43vw;
}

#insta-section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 1.3vw;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#insta-section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#insta-section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 1.5vw;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
}


#insta-section1>div:nth-child(1) .instaImg{
    width:288px;  
    margin-top:160px;
    margin-bottom: 48px;
}


#insta-section1>div:nth-child(2) .instaAssetsImg{
    width:600px;
    display: block;
    margin: 0 auto;
    padding:20px;
    margin-top: 200px;
}