
@media screen and (max-width:700px){
    body #dots1{width:50vw;}
    body #dots2{width:22vw;position: relative;top:100px;}
    body #dots4{width:50vw;}
    body #dots6{
        position: relative;
        margin-left:0;
        width:45vw;top:5vh
    }

    body #dots7{
        position: relative;
        right:-36vw;
        width:45vw;top:0vh;
    }

    body #section1 .banner>span:nth-child(4){font-size:11vw;margin-top:-20vw;}
    body #section1 .banner>span:nth-child(2){font-size:4.5vw;}
    body #section1 .banner>span:nth-child(3){font-size:3vw;}
    body #section1 .banner>img:nth-child(1){width:18vw;top:5vw;margin-left:-80vw;top:3.5vw}
    body #section1 .banner>img:nth-child(5){
        width:25vw;
        margin-left:34vw;
        margin-top:3vw;top:-14vw
    }

    body #section3 .flex4{
        flex-wrap: wrap;
        flex-direction:column;
        padding:0;height:auto;
    }
    body #section3 .flex4>div>img{margin-left:17vw;width:25vw;;}
    body #section3 .flex4>div:nth-child(3)>img{
        margin-left:20vw;
        width:18vw;padding:0;
        margin-top:5vw
    }

    body #section3 .stopScroll,body #section3 .stopScrollTop{display:none;}
    body #section3 .flex4>div>span{
        width:40vw;
        font-size:3.8vw;
        display:block;
        margin-left:9vw;
        margin-bottom:7vw
    }
    body #section3 .flex6{
        flex-wrap: wrap;
        margin-top:25vw;
        flex-direction:column;
  
    }
    body #section3 .flex6>div>img{
        width:28vw;
        margin-left:15vw;
    }
    body #section3 .flex6>div{margin-top:23px;margin-bottom: 23px;}
    body #section3 .flex6>div>span:nth-child(2){
        min-width:25vw;
        font-size:4.8vw;
        margin-left:15vw;
    }
    body #section3 .flex6>div>span:nth-child(3){
        width:43vw;
        font-size:3vw;
        margin-left:7.2vw;margin-top:2.5vw
    }
    body #section3 .head2{
        width:80vw;
        font-size: 3.4vw;
        margin-top:-10vh;
    }

    body #section3 #slider{width:60vw;}
    body #section4{margin:2px solid red;}
    body #section4>div:nth-child(1){
        font-size:2.4vw;letter-spacing:0.1vw;
        margin-bottom:5vw;
    }   
    
    body #section4>div:nth-child(2){
        width:50vw;
        flex-wrap:wrap;margin-top:0;
    }
    body #section4>div:nth-child(2)>i{font-size:4vw;}
}




@media screen and (max-width:700px){
    body #navigation>span:nth-child(2){
        display: none;
    }

    body #navigation .mobile-menu{
        display:none;
        z-index:1;
        background-color:rgb(0, 0, 0);
        position: absolute;
        width:90vw;
        height:100vh;
        top:0;
        left:-90vw;
        position: fixed;
    }
    body #navigation{justify-content:space-between;margin-bottom:10vw}
   
    body #navigation>span:nth-child(1){margin-top:17px;}

    body #navigation>span>img{
        position:absolute;right:5vw;
        width:20vw;
    }

    body #navigation>i{
        display: block;
        margin-left:5vw;
        margin-top:24px;
        cursor:pointer;
        font-size:5vw
    }

    body #section1 .show .flex1{
        justify-content:space-between;
        width:80%;
    }
    body #section1 .show .flex1>div{
        width:39vw;
        margin-top:4vw;
    }

    body #section1 .show .flex1>div>span:nth-child(1){font-size: 5.5vw;}
    body #section1 .show .flex1>div>span:nth-child(2){font-size: 3vw;margin:0}
    
    body #section1 .show>div:nth-child(3){font-size: 3vw;width:100%;} 

    body #section1 .show .flex2{
        overflow-x:scroll;
        justify-content: space-around;
        margin-left:5vw;
        padding:2vw;
        padding-left:18vw;padding-right:-5vw;
        width:74%;
    }
    body #section1 .show .flex2>div{
        min-width:24vw;height:35vw;
        border-radius: 1.5vw;
        margin-left:2vw;margin-right:2vw;
    }
    body #section1 .show .flex2>div>span:nth-child(1){font-size:3vw;margin-top:3vw}
    body #section1 .show .flex2>div>span:nth-child(2){font-size:2vw;margin-bottom:1vw}
    body #section1 .show .flex2>div>div{
        height:24vw;margin-top:0;
        border-radius:0 0 1.5vw 1.5vw;
    }
    body #section1 .show .flex2::-webkit-scrollbar{display:none;}
    body #dots3{display: none;}
    body #dots5{display: none;}

    body #section2{
        text-align:center;
        padding-bottom:0;padding-top:10vw;
    }

    body #section2>span:nth-child(1){
        font-size:3vw;letter-spacing:0.1vw;
    }

    body #section2 .flex3{
        flex-wrap:wrap;
        justify-content:space-around;
        margin-bottom:0;border:
    }

    body .social-media{flex-direction:column}
    body #section3 .icons{flex-direction:row;}
    body #section3 .icons>img{width:6vw;border-radius:4px;}
    body #section3 .iframes>section{height:95vh;}
    body #section2 .flex3>div{
        width:20vw;
        margin-bottom:9vw;
    }
    body #section2 .flex3>div>img{width:9vw;margin-bottom:2vw}
    body #section2 .flex3>div>span:nth-child(2){
        font-size:3vw;
        margin-bottom:0.8vw;
        letter-spacing:0.1vw;
    }    
    body #section2 .flex3>div>span:nth-child(3){letter-spacing:0.1vw;font-size:2.2vw;}

    
    body #section3 .head1{
        font-size: 4.3vw;
        left:-38vw;
        width:110%;
        margin-top:10vw;
        top:4vw
    }
    
    body #section3 .flex5{margin-top:0;padding-left: 20px; width:95vw;}
    body #section3 .flex5>div{min-width: 221px;font-size: 3.2vw;padding-top:1vw;padding-bottom:1vw}
    body #section3 .arrows{display: none;}
}


@media screen and (max-width:1050px){
    body #navigation>span>img{width:8vw;}
    #navigation{display:flex;justify-content:space-around}
    #navigation>span:nth-child(2){display:inline-block;vertical-align:middle;}
    body #navigation>span>span{font-size:1.5vw}

    body #section1 .show .flex2{margin-top:5vw}
    body #section3 .head1{margin-left:20vw;}
}