@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}

body{margin:0; padding: 0;}

#section1{
    display: grid;
    grid-template-columns: 50% auto;
}

#section1>div:nth-child(1){
    background: #b61317;
    padding-left: 135px;
}

#section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 18px;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
}

#section1>div:nth-child(1)>div>span{
    display: block;
    font-family: Poppins-Medium;
    color:white;
    font-size: 16px;
    padding-left:20px;
    padding-right: 20px;
    padding-top:18px;
    padding-bottom:18px;
    background: #6814149a;
    width: 370px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#section1>div:nth-child(1) .quoraImg{
    width:202px;  
    margin-top:153px;
    margin-bottom: 40px;
}


#section1>div:nth-child(2) .quoraAssetsImg{
    width:594px;
    display: block;
    margin: 0 auto;
    margin-top: 296px;
}