@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}

/*Mobile View*/
@media screen and (max-width:750px){
    body #quora-section1{
        flex-direction: column-reverse;
    }

    body #quora-section1>div:nth-child(2){width: 100vw;}
    body #quora-section1>div:nth-child(1){width:88vw;padding-left: 50px;}
    body #quora-section1>div:nth-child(2) .quoraAssetsImg{
        display: block;
        margin:0 auto;
        margin-top:100px;
        margin-bottom: 100px;
        width:80vw;
    }

    body #quora-section1>div:nth-child(1) .quoraAdsImg{
        width:60vw;
    }

    body #quora-section1>div:nth-child(1)>div>span{
        width:63vw;
    }

    body #quora-section1>div:nth-child(1)>ul{
        font-size: 4vw;
        width:90%;
    }

    body #quora-section1>div:nth-child(1)>span{
        font-size:4vw;
    }
    
}


body{margin:0; padding: 0;}

#quora-section1{
    display: flex;
}

#quora-section1>div:nth-child(1){
    background: #b61317;
    padding-left: 135px;
    width:40vw;
}

#quora-section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 1.4vw;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#quora-section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#quora-section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 1.8vw;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
}

#quora-section1>div:nth-child(1)>div>span{
    display: block;
    font-family: Poppins-Medium;
    color:white;
    font-size: 1.2vw;
    padding-left:20px;
    padding-right: 20px;
    padding-top:18px;
    padding-bottom:18px;
    background: #6814149a;
    width: 30vw;
    margin-bottom: 10px;
    border-radius: 5px;
}

#quora-section1>div:nth-child(1) .quoraImg{
    width:202px;  
    margin-top:153px;
    margin-bottom: 40px;
}


#quora-section1>div:nth-child(2) .quoraAssetsImg{
    width:594px;
    display: block;
    margin: 0 auto;
    margin-top: 296px;
    padding-left:10px;
    padding-rightt:10px;
}