@font-face{
    font-family:'Poppins-Bold';
    src:url('../fonts/Poppins-Bold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Light';
    src:url('../fonts/Poppins-Light.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-SemiBold';
    src:url('../fonts/Poppins-SemiBold.otf') format('opentype');
}

@font-face{
    font-family:'Poppins-Medium';
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}

/*Mobile View*/
@media screen and (max-width:450px){
    body #youtube-section1{
        grid-template-rows: 40vh auto;
        grid-template-columns: 100vw;
    }

    body #youtube-section1>div:nth-child(2){grid-row:1}
    body #youtube-section1>div:nth-child(1){padding-left: 30px;overflow-y:scroll}
    body #youtube-section1>div:nth-child(2) .ytAssetsImg{
        display: block;
        margin:0 auto;
        margin-top:3vh;
        width:70vw;
    }

    body #youtube-section1>div:nth-child(1) .fbAdsImg{
        width:60vw;
    }

    body #youtube-section1>div:nth-child(1)>div>iframe{
        width:78vw;
    }

    body #youtube-section1>div:nth-child(1)>ul{
        font-size: 4vw;
        width:90%;
    }

    body #youtube-section1>div:nth-child(1)>span{
        font-size:4vw;
    }
    
}

body{margin:0; padding: 0;}

#youtube-section1{
    display: grid;
    grid-template-columns: 50vw 49.45vw;
}

#youtube-section1>div:nth-child(1){
    background: #282828;
    padding-left: 50px;
}

#youtube-section1>div:nth-child(1)>ul{
    font-family: Poppins-Regular;
    font-size: 13px;
    color:white;
    margin-top:15px;
    margin-left: -20px;
    padding-right: 33px;
}

#youtube-section1>div:nth-child(1)>ul>li{
    margin-bottom: 20px;
}

#youtube-section1>div:nth-child(1)>span{
    display: block;
    font-family: Poppins-SemiBold;
    font-size: 16px;
    color:rgba(255, 255, 255, 0.507);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}

#youtube-section1>div:nth-child(1) .ytImg{
    width:70px;  
    margin-top:50px;
    margin-bottom: 20px;
}


#youtube-section1>div:nth-child(2) .ytAssetsImg{
    width:430px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    padding-left:60px;
    padding-right:60px;
}