<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook</title>
    <link rel="stylesheet" href="../assets/css/facebook.css">
</head>
<body>
    <section id="fb-section1">
        <div>
            <img src="../assets/Digital Marketing/Fb/Bitmap.png" class="fbImg">
            <ul>
                <li>The best place to kick start your business</li>
                <li>Traffic Increase owing to over 1 billion users</li>
            </ul>
            <span>Some of the work done by the team</span>
            <img src="../assets/Digital Marketing/Fb/Ads Images.png" class="fbAdsImg">
        </div>
        <div>
            <img src="../assets/Digital Marketing/Fb/Fb asset.png" class="fbAssetsImg">
        </div>
    </section>
</body>
</html>