<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google</title>
    <link rel="stylesheet" href="../assets/css/google.css">

</head>
<body>
    <section id="google-section1">
        <div>
            <img src="../assets/Digital Marketing/Google/google-logo.png" class="googleImg">
            <ul>
                <li>The place where you went to search for every other thing would help people find YOU.</li>
                <li>We know ORGANIC is the way of life and trust us, ORGANIC GROWTH is what we do.</li>
                <li>Reach out to US. We’ll make a marketing campaign tailored just for you</li>
            </ul>
            <span>Some of the work done by the team</span>
        </div>
        <div>
            <img src="../assets/Digital Marketing/Google/Bitmap.png" class="googleAssetsImg">
        </div>
    </section>
</body>
</html>