<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram</title>
    <link rel="stylesheet" href="../assets/css/instagram.css">

</head>
<body>
    <section id="insta-section1">
        <div>
            <img src="../assets/Digital Marketing/Instagram/Bitmap.png" class="instaImg">
            <ul>
                <li>We love to show your photography skills here</li>
                <li>Gaining followers is the easiest ever. Build a consistent userbase</li>
            </ul>
            <span>Some of the work done by the team</span>
            <img src="../assets/Digital Marketing/Instagram/insta1.PNG" class="instaAdsImg">
        </div>
        <div>
            <img src="../assets/Digital Marketing/Instagram/Group 3.png" class="instaAssetsImg">
        </div>
    </section>
</body>
</html>