<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linked In</title>
    <link rel="stylesheet" href="../assets/css/linkedin.css">
</head>
<body>
    <section id="section1">
        <div>
            <img src="../assets/Digital Marketing/LinkedIn/Bitmap.png" class="liImg">
            <ul>
                <li>Here, even our content is wrapped around with a Tux</li>
                <li>The only place you can be offered to be funded within a month</li>
                <li>Video content goes viral, once a month. Easily reaching over a million people</li>
            </ul>
            <span>Some of the work done by the team</span>
        </div>
        <div>
            <img src="../assets/Digital Marketing/LinkedIn/973.png" class="liAssetsImg">
        </div>
    </section>
</body>
</html>