<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quora</title>
    <link rel="stylesheet" href="../assets/css/quora.css">
</head>
<body>
    <section id="quora-section1">
        <div>
            <img src="../assets/Digital Marketing/Quora/Bitmap.png" class="quoraImg">
            <ul>
                <li>Quench their curiosity</li>
                <li>Answer the questions people are already searching for your business, isn’t that wonderful?</li>
            </ul>
            <span>Some of the work done by the team</span>
            <div>
                <span>Will you be relevant amongst the pool of competitors?</span>
                <span>Why are there crushed stones alongside rail tracks?</span>
                <span>What is it like to regret having more than 2 children?</span>
                <span>Who are the coolest looking people in all human history?</span>
                <span>Will you be relevant amongst the pool of competitors?</span>
            </div>
        </div>
        <div>
            <img src="../assets/Digital Marketing/Quora/Asset 1.png" class="quoraAssetsImg">
        </div>
    </section>
</body>
</html>