<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter</title>
    <link rel="stylesheet" href="../assets/css/twitter.css">

</head>
<body>
    <section id="twitter-section1">
        <div>
            <img src="../assets/Digital Marketing/Twitter/Logo.png" class="twitterImg">
            <ul>
                <li>The dope your tweet is, the faster people get in touch with you</li>
                <li>SWAG is real here, the witty you are, the better</li>
            </ul>
            <span>Some of the work done by the team</span>
        </div>
        <div>
            <img src="../assets/Digital Marketing/Twitter/Bitmap.png" class="twitterAssetsImg">
        </div>
    </section>
</body>
</html>