<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Youtube</title>
    <link rel="stylesheet" href="../assets/css/youtube.css">
</head>
<body>
    <section id="youtube-section1">
        <div>
            <img src="../assets/Digital Marketing/Youtube/Bitmap.png" class="ytImg">
            <ul>
                <li>Did you ever want to be a part of a Movie? Your chance to show your skills to the audience is right now.</li>
                <li>Send us your video portraying Marlon from Godfather: "I'm going to make him an offer he can't refuse." This would be your chance to get a free assessment of all your social media platform.</li>
            </ul>
            <span>Some of the work done by the team</span>
            <div>
                <iframe width="426" height="246" src="https://www.youtube.com/embed/eVTXPUF4Oz4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="426" height="246" src="https://www.youtube.com/embed/kXYiU_JCYtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div>
            <img src="../assets/Digital Marketing/Youtube/Asset 1.png" class="ytAssetsImg">
        </div>
    </section>
</body>
</html>